*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  padding-bottom: 40px;
  padding-right: 8px;
  
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 4fr;
  gap: 30px;
  max-width: 1440px;
  padding-bottom: 35px;
  
}

.result {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  align-items: end;
  padding-bottom: 15px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 35px;
  min-width: 710px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 18;
  /* padding-bottom: 55px;
  padding-right: 10px; */
}

.content__list-container {
  position: relative;
  max-height: 300px;
  overflow: auto;
  
  
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding-bottom: 28px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  margin-bottom: 24px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  min-width: 710px;
  min-height: 390px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: start;
  width: 100%;
}

.content__video-card-thumbnail {
  width: 200px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 2;
}

.content__card-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 196px;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16px;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden; 
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
  margin-left: 5px;

}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 2px 14px 2px 0;
  outline: none;
  color: white;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 10px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid currentColor;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid white;
}

.search-form__submit-button {
  align-self: end;
  min-width: 195px;
  min-height: 35px;
  padding: 6px 73px;
}

.more-button {
  width: 100%;
  height: 35px;
  margin-top: 30px;
  padding: 6px 140px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.content__video-card:focus {
  outline: none;
}
.content__video-card:focus-visible {
  outline: 1px solid white;
}

.content__list-item {
  border-radius: 0px;
  padding: 0 3px;
}

.content__card-link_current {
  background-color: #545050;
}